{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="content-section">
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ _('Reset Password') }}</legend>

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {% endif %}
          </div>

          <div class="form-group">{{ form.submit(class="btn btn-outline-info")}}</div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div class="about_img">
      <figure><div style="margin-top: 5px" id="forgot-animation"></div></figure>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Function to load Lottie animation
      function loadLottieAnimation(containerId, animationPath) {
        return lottie.loadAnimation({
          container: document.getElementById(containerId),
          renderer: "svg",
          loop: true,
          autoplay: true,
          path: animationPath,
        });
      }

      // Load multiple Lottie animations
      var aboutAnimation = loadLottieAnimation("forgot-animation", "static/Animation-Forgot.json");
      // Add more animations as needed
      // Add more animations as needed
    });
  </script>
</div>

{% endblock content %}
