{% extends "layout.html" %} {% block content %}
<div class="col-md-10">
  <div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ _('Reset Password') }}</legend>

        <div class="form-group">
          {{ form.mdp.label(class="form-control-label") }} {% if form.mdp.errors %} {{ form.mdp(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.mdp.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.mdp(class="form-control form-control-lg") }} {% endif %}
        </div>

        <div class="form-group">
          {{ form.con_mdp.label(class="form-control-label") }} {% if form.con_mdp.errors %} {{ form.con_mdp(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.con_mdp.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.con_mdp(class="form-control form-control-lg") }} {% endif %}
        </div>
        <div class="form-group">{{ form.submit(class="btn btn-outline-info")}}</div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
